@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChangwonDangam';
    src: url("../assets/font/ChangwonDangamRound.ttf") format("truetype");
}

.logo{
    /*font-family: 'SANJUGotgam', sans-serif;*/
    font-family: 'ChangwonDangam', sans-serif;
}

.nodrag{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-use-select: none;
    user-select: none;
}
